.breadcrumbs {
  width: fit-content;
  font-size: var(--body-text-size);
  margin: 1.25rem 0;
  padding: 0.375rem 0.75rem;
  border-radius: var(--border-radius-s);
  background-color: var(--background-05);
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--color-accent);
}

.breadcrumbs a:hover {
  text-decoration: underline;
}
