.main-content .left-content-column .wp-block-media-text,
.main-content .left-content-column .wp-block-image,
.main-content .left-content-column > p {
  margin: 2rem 0;
}

.main-content .left-content-column > div:first-child {
  margin: 0;
}

.main-content {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 0 auto;
  padding: 2.5rem 1.5rem;
  max-width: var(--inner-content-width);
  color: var(--font-color-text);
}

.inner-max-width {
  max-width: var(--inner-content-width);
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.left-content-column .inner-max-width {
  padding-left: 0;
  padding-right: 0;
}

.content-container {
  padding: 4rem 0;
}

.left-content-column {
  flex: 7;
  padding: 2.5rem;
  background-color: var(--background-05);
  border-radius: var(--border-radius-s);
}

.right-content-column {
  flex: 3;
  height: auto;
}

.main-container .header-img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
}

.main-container .header-img-heading {
  margin: 0 auto;
  width: 100%;
  max-width: var(--inner-content-width);
  position: absolute;
  z-index: 9;
  bottom: 120px;
  padding: 0 1.5rem;
  text-transform: uppercase;
}

.home .header-img-wrap img {
  height: 550px;
}

.header-img-wrap img {
  width: 100%;
  max-width: 100%;
  height: 450px;
  object-fit: cover;
}

.main-container .page-start-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  max-width: 800px;
}

.main-container .page-start-text h1 {
  color: var(--foreground-01);
  font-size: var(--headline-xl);
  font-weight: 500;
}

.main-container .page-start-text h1:has(+ p) {
  margin-bottom: 1rem;
}

/* Media Queries */
@media (max-width: 992px) {
  .home .header-img-wrap img,
  .header-img-wrap img {
    height: 300px;
  }

  .main-content {
    flex-direction: column;
    padding: 1.5rem;
  }

  .left-content-column {
    padding: 1.5rem;
  }

  .left-content-column .inner-max-width {
    padding: 0;
  }

  .main-container .page-start-text {
    padding: 2.5rem 0;
  }
}

/*COLUMN GRID*/

.col-xs-4 {
  width: calc(30% - 1rem);
}

.col-xs-8 {
  width: calc(60% - 1rem);
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-2 {
    width: calc(13% - 1rem);
  }

  .col-sm-10 {
    width: calc(87% - 1rem);
  }

  .col-sm-10 {
    width: 100%;
  }
}
