.block-editor__container .editor-visual-editor {
  font-family: var(--font-family-text);
}

.block-editor__container h1,
.block-editor__container h2,
.block-editor__container h3,
.block-editor__container h4,
.block-editor__container h5,
.block-editor__container h6 {
  font-family: var(--font-family-heading);
}

.left-content-column:has(figure:first-child) > figure:first-child {
  margin-top: 0;
}

.wp-block-group.has-background {
  padding: 1.5rem;
}

hr,
.wp-block-separator {
  border-top: 1px solid;
  border-color: var(--foreground-05);
  margin: 2.5rem 0;
}

/* ADMIN STYLES */
.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper {
  background-color: var(--background-04);
  padding-bottom: 2rem;
  padding-top: 4rem;
  margin-top: 0 !important;
  margin-bottom: 2rem;
}
.editor-visual-editor__post-title-wrapper.edit-post-visual-editor__post-title-wrapper h1 {
  font-size: calc(var(--body-text-size, 1rem) * 3);
}
