/* Hauptheader */
.main-header {
  background-color: var(--header-background-color);
  width: 100%;
  margin: 0 auto;
  color: var(--font-color-header);
}

.header-inner-wrap {
  width: 100%;
  max-width: var(--inner-header-width);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
}

/* Logo im Header */
.main-header .main-logo {
  float: left;
}

/* Kleine, mittlere und große Logos */
.main-header .main-logo.logo-small img {
  width: 140px;
}

.main-header .main-logo.logo-medium img {
  width: 200px;
}

.main-header .main-logo.logo-large img {
  width: 260px;
}

/* Navigation im Header */
.main-header nav {
  float: right;
}

.main-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header nav ul li {
  display: inline-block;
  margin: 0 var(--margin-menu-size);
}

.main-header nav ul li a {
  text-decoration: none;
  color: var(--font-color-header);
  font-size: var(--font-menu-size);
}

/* Hover-Effekt für Links */
.main-header nav ul li a:hover {
  color: var(--font-color-header-hover);
}
