/* Hauptheader */
.main-header {
  background-color: var(--background-05);
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  transition: all 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logo-wrap {
  padding: 0 0 1.25rem 0;
}

.logo-wrap img {
  transition: all 0.3s ease;
}

.logo-wrap img.scrolled {
  width: 3.75rem !important;
}

.header-inner-wrap {
  width: 100%;
  max-width: var(--inner-header-width);
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 1.25rem 1.25rem 0 1.25rem;
}

.menu-wrap {
  position: relative;
}

.head-menu {
  top: -10px;
  right: 0;
  z-index: 10;
  position: absolute;
}

.main-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  left: 0;
  bottom: 0;
  z-index: 10;
  position: absolute;
}

.header-greeting {
  font-size: 1.375rem;
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: var(--foreground-05);
  padding-bottom: 0.3125rem;
  border-bottom: 1px solid var(--background-03);
}

.header-greeting span {
  font-weight: 900;
  color: var(--foreground-01);
}

/* Logo-Größen */
.main-header .logo-wrap.logo-small img {
  width: 80px;
}

.main-header .logo-wrap.logo-medium img {
  width: 100px;
}

.main-header .logo-wrap.logo-large img {
  width: 120px;
}

/* Navigation im Header */
.main-header nav {
  float: right;
}

.main-header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header nav.head-menu ul li {
  display: inline-block;
  margin: 0 0.75rem;
}

.main-header nav ul li a {
  text-decoration: none;
  color: var(--foreground-01);
}

.main-header nav.head-menu ul li a {
  text-decoration: none;
  color: var(--foreground-01);
  font-size: 1rem;
  opacity: 0.5;
}

@media (min-width: 992px) {
  .main-header nav ul li {
    display: inline-block;
    margin: 0 1rem;
    padding-bottom: 1.25rem;
    position: relative;
  }

  .main-header nav.main-menu ul li:after {
    content: '';
    display: block;
    background: var(--color-accent);
    width: 0;
    height: 0.3125rem;
    transition: all 0.2s ease;
    position: absolute;
    bottom: 0;
  }

  .main-header nav.main-menu ul li:hover:after {
    width: 100%;
  }
}

.main-header nav ul li a:hover {
  color: var(--accent-01);
}

/* MOBILES MENU */

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.hamburger-icon {
  width: 100%;
  height: 4px;
  background-color: var(--foreground-01);
  border-radius: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.menu-items {
  display: flex;
  list-style: none;
}

/* Mobile Ansicht */
@media (max-width: 1120px) {
  /* Logos für mittlere Bildschirme */
  .main-header .logo-wrap.logo-small img {
    width: 60px;
  }

  .main-header .logo-wrap.logo-medium img {
    width: 70px;
  }

  .main-header .logo-wrap.logo-large img {
    width: 80px;
  }
}

@media (max-width: 992px) {
  .header-greeting {
    display: none;
  }

  .header-inner-wrap {
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem;
  }

  .logo-wrap {
    padding: 0;
  }

  /* Logos für mittlere Bildschirme */
  .main-header .logo-wrap.logo-small img {
    width: 50px;
  }

  .main-header .logo-wrap.logo-medium img {
    width: 60px;
  }

  .main-header .logo-wrap.logo-large img {
    width: 70px;
  }

  .menu-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease;
    z-index: 999;
    padding: 1.25rem 0;
    width: 50vw;
    background-color: var(--background-05);
  }

  .main-menu,
  .head-menu {
    position: relative;
  }

  #menu-main-menu {
    margin-bottom: 1rem;
  }

  .main-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .head-menu {
    order: 2;
    margin-top: 2.5rem;
  }

  .hamburger-menu {
    display: flex;
  }

  .menu-wrap.active {
    transform: translateY(0);
  }

  .menu-items {
    flex-direction: column;
    width: 100%;
  }

  .main-header nav ul li,
  .main-header nav.head-menu ul li {
    margin: 0.375rem 1.5rem;
  }

  .hamburger-menu.active .hamburger-icon:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 6px;
  }

  .hamburger-menu.active .hamburger-icon:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .hamburger-icon:nth-child(3) {
    transform: rotate(-45deg);
    position: relative;
    top: -12px;
  }
}

@media (max-width: 768px) {
  .menu-wrap {
    width: 70vw;
  }
}
