.scroll-container {
  position: sticky;
  top: 50px;
}

.sidebar-block {
  background-color: var(--background-05);
  padding: 1.5rem;
  border-radius: var(--border-radius-s);
  margin-bottom: 1.25rem;
}

.widget p {
  font-size: var(--body-text-size);
}

/*SIDEBAR*/

#termine.sidebar-block {
  border-left: 4px solid var(--accent-01);
}

.sidebar-block .termin-item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--background-03);
}

.sidebar-block .termin-item:last-child {
  border-bottom: none;
}

.sidebar-heading {
  font-size: var(--headline-xs);
  padding-bottom: 0.625rem;
  border-bottom: 1px solid var(--background-03);
}
