.scroll-container {
  position: sticky;
  top: 50px;
}

.sidebar-block {
  background-color: var(--background-05);
  padding: 1.5rem;
  border-radius: var(--border-radius-s);
  margin-bottom: 1.25rem;
}

.widget p {
  font-size: 1rem;
}

/*SIDEBAR*/

#termine.sidebar-block {
  border-left: 4px solid var(--accent-01);
}

.sidebar-block .termin-item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--background-03);
}

.sidebar-block .termin-item:last-child {
  border-bottom: none;
}

.sidebar-heading {
  font-size: var(--headline-xs);
  padding-bottom: 0.625rem;
  border-bottom: 1px solid var(--background-03);
}

.sidebar-block .post-listings-item-heading {
  margin-bottom: 0;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--foreground-01);
}

.sidebar-block .adresse a {
  font-size: 0.9375rem;
  color: var(--foreground-01);
  text-decoration: none;
  opacity: 0.6;
}

.sidebar-block .termin-info-wrap {
  flex-direction: column;
  align-items: flex-start;
  font-size: 1rem;
  color: var(--foreground-03);
}

.sidebar-block .termin-link {
  display: inline-block;
  font-size: 0.9375rem;
  background-color: var(--background-03);
  color: var(--foreground-01);
  text-decoration: none;
  opacity: 0.6;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-s);
}

.sidebar-block .termin-link:hover {
  background-color: #000;
  color: #fff;
}
