:root {
  /*FONTS*/
  --font-family-heading: var(--ff-heading, 'Fira Sans');
  --font-family-text: var(--ff-text, 'Fira Sans');
  --font-weight-text: var(--fw-heading, 400);
  --font-weight-heading: var(--fw-heading, 700);

  transition-behavior: allow-discrete;
  interpolate-size: allow-keywords;
}
