
:root {
    /* PRIMARY COLORS */
    --color-foreground: hsl(0, 0%, 0%);
    --color-background: hsl(0, 0%, 55%);
    --color-accent: hsl(0, 71%, 35%);

    /* COLOR SHADES */
    --foreground-01: hsl(0, 0%, 0%);
    --foreground-02: hsl(0, 0%, 0%);
    --foreground-03: hsl(0, 0%, 9%);
    --foreground-04: hsl(0, 0%, 18%);
    --foreground-05: hsl(0, 0%, 27%);

    --background-01: hsl(0, 0%, 64%);
    --background-02: hsl(0, 0%, 73%);
    --background-03: hsl(0, 0%, 82%);
    --background-04: hsl(0, 0%, 91%);
    --background-05: hsl(0, 0%, 100%);

    --accent-01: hsl(0, 71%, 44%);
    --accent-02: hsl(0, 71%, 53%);
    --accent-03: hsl(0, 71%, 62%);
    --accent-04: hsl(0, 71%, 71%);
    --accent-05: hsl(0, 71%, 80%);
    
    /* FONT SIZES */
    --headline-xs: clamp(21.6px, 3vw, 27px);
    --headline-s: clamp(23.4px, 3.5vw, 28.8px);
    --headline-m: clamp(27px, 4vw, 32.4px);
    --headline-l: clamp(32.4px, 5vw, 39.6px);
    --headline-xl: clamp(39.6px, 6vw, 50.4px);
    --headline-xxl: clamp(45px, 8vw, 59.4px);
    --body-text-size: 18px;

    /* GRID WIDTH */
    --inner-content-width: 1600px;
    --inner-header-width: 1600px;
    --inner-footer-width: 1600px;

    /* FONT SETTINGS */
    --font-family-heading: 'DIN 2014', sans-serif;
    --font-family-text: 'DIN 2014', sans-serif;

    /* MENU SETTINGS */
    --font-menu-size: clamp(18px, 3vw, 21.6px);
    --margin-menu-size: 24px;
}