
:root {
    /* PRIMARY COLORS */
    --primary-color: #dd3333;
    --secondary-color: #0f6056;

    /* BACKGROUND COLORS */
    --body-background-color: #f4f4f4;
    --inner-content-background-color: #ffffff;
    --header-background-color: #ffffff;
    --footer-background-color: #bfbfbf;

    /* BUTTON COLORS */
    --button-root-color: #ff2b2b;
    --button-hover-color: #000000;

    /* FONT SIZES */
    --headline-xs: clamp(21.6px, 3vw, 27px);
    --headline-s: clamp(23.4px, 3.5vw, 28.8px);
    --headline-m: clamp(27px, 4vw, 32.4px);
    --headline-l: clamp(32.4px, 5vw, 39.6px);
    --headline-xl: clamp(39.6px, 6vw, 50.4px);
    --headline-xxl: clamp(45px, 8vw, 59.4px);
    --body-text-size: 18px;

    /* GRID WIDTH */
    --inner-content-width: 1600px;
    --inner-header-width: 1600px;
    --inner-footer-width: 1600px;

    /* FONT SETTINGS */
    --font-family-heading: 'DIN 2014', sans-serif;
    --font-family-text: 'DIN 2014', sans-serif;

    /* FONT COLORS */
    --font-color-heading: #000000;
    --font-color-text: #636363;
    --font-color-header: #000000;
    --font-color-footer: #ffffff;
    --font-color-header-hover: #adadad;
    --font-color-footer-hover: #000000;

    /* MENU SETTINGS */
    --font-menu-size: clamp(18px, 3vw, 21.6px);
    --margin-menu-size: 24px;
}