.accordion {
  width: 100%;
}

.accordion-item {
  margin-bottom: 0.5rem;
}

.accordion-header {
  background-color: var(--background-05);
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  border-bottom: var(--background-03) 1px solid;
  width: 100%;
}

.accordion-header h4 {
  margin-bottom: 0;
  font-size: var(--headline-xs);
  color: var(--foreground-01);
}

.accordion-button {
  padding: 1.125rem 1.35rem 1.125rem 0.125rem;
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  width: 100%;
  text-align: left;
  font-size: inherit;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.accordion-body {
  display: flex;
  background-color: var(--background-05);
  font-size: 1rem;
}

.accordion-body .image-description-container {
  width: 50%;
}

.accordion-body .image-wrap {
  padding: 1rem 1rem 0 0.125rem;
}

.accordion-body img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-s);
}

.accordion-body .description {
  padding: 1rem;
}

.contact-wrap {
  max-width: 50%;
  padding: 3.125rem;
}

.contact-wrap p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 0.3125rem 0;
}

.contact-wrap .inner {
  margin-bottom: 1rem;
}

.accordion-body a {
  text-decoration: none;
}

.accordion-body a:hover {
  text-decoration: underline;
}

.accordion-collapse {
  display: block;
  block-size: 0;
  overflow: hidden;
  /* transition: block-size 1s, content-visibility 1s;*/
  transition-behavior: allow-discrete;
  transition: block-size 1s;
}

.accordion-collapse.open {
  block-size: auto;
}

.accordion-button:focus {
  outline-color: var(--color-accent);
}

.accordion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: var(--background-05);
  color: var(--foreground-01);
  border-radius: 0 var(--border-radius-s) var(--border-radius-s) 0;
  font-size: 2.4rem;
  font-weight: var(--font-weight-text);
}

.social-link-wrap {
  display: flex;
}

.social-link {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.social-link img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

@media (max-width: 768px) {
  .accordion-body {
    flex-direction: column;
  }

  .accordion-body .image-description-container {
    width: 100%;
  }

  .accordion-body img {
    max-width: 100%;
  }

  .accordion-header h4 {
    font-size: 1rem;
  }

  .contact-wrap {
    max-width: 100%;
    padding: 1rem;
  }
}
