.post-grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 1.25rem;
  margin: 1.25rem auto;
  padding: 0;
}

.post-item {
  border: 1px solid var(--background-03);
  overflow: hidden;
  transition: transform 0.3s ease;
  background-color: var(--background-05);
  border-radius: var(--border-radius-m);
}

.post-content {
  display: flex;
  flex-direction: column;
  padding: 1.875rem;
}

.post-content .post-title {
  font-size: var(--headline-s);
  margin-bottom: 0.3125rem;
}
.post-content .post-title a {
  text-decoration: none;
}

.post-meta {
  font-size: 0.9rem;
  color: var(--foreground-03);
  margin-bottom: 0.5rem;
}

.post-excerpt {
  font-size: 0.95rem;
  color: var(--foreground-03);
}

.post-content .post-link {
  background-color: var(--accent-01);
  color: #fff;
  font-size: 0.9rem;
  padding: 0.375rem 0.75rem;
  margin-top: 1rem;
  width: fit-content;
  border-radius: var(--border-radius-s);
  text-decoration: none;
}

.post-content .post-link:hover {
  background-color: var(--foreground-01);
}

.wp-block-image img {
  border-radius: var(--border-radius-m);
}
