.termin-list-start .post-listing-item {
  display: flex;
  align-items: stretch;
  padding: 1.25rem 1.875rem;
  background: var(--background-04);
  margin-bottom: 1rem;
  position: relative;
  border-radius: var(--border-radius-s);
  padding: 1.25rem;
  margin-bottom: 1rem;
}

.termin-list-start .post-listing-item-image {
  width: 20%;
}

.termin-list-start .post-listing-item-image a {
  display: flex;
}

.termin-list-start .post-listing-item-image img {
  width: 100%;
  max-height: fit-content;
  object-fit: cover;
}

.termin-list-start .post-listings-item-heading {
  margin-bottom: 0;
}

.termin-list-start .post-listings-item-heading a {
  font-size: 1.375rem;
  margin-bottom: 0;
  color: var(--foreground-05);
  text-decoration: none;
}

.termin-list-start .post-listing-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 1.25rem;
}

.termin-wrapper {
  background: color(9);
  padding: 1.25rem;
  border-radius: var(--border-radius-s);
}

.termin-top-wrap {
  display: flex;
  margin-bottom: 0.5rem;
}

.termin-bottom-wrap {
  display: flex;
}

.termin-infos-wrap .termin-time-wrap {
  display: flex;
  align-items: center;
}

.termin-info-wrap {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  color: var(--foreground-03);
}

.termin-info {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.adresse a {
  font-size: 1rem;
  color: var(--foreground-01);
  text-decoration: none;
  opacity: 0.6;
}
.adresse a:hover {
  text-decoration: underline;
}

.termin-icon {
  height: 1.25rem;
  margin-right: 0.5rem;
}

.termin-infos-wrap .op-6 {
  margin-right: 0.3125rem;
}

#inner-content-wrap-termine p:first-child {
  margin-top: 0;
}

/*SINGLE PAGE*/

.termin-single-container .termin-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 1.875rem 0;
  padding: 1.5rem;
  background: #f5f5f5;
}

.termin-cta-wrap {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  padding: 2rem;
  background-color: var(--background-05);
  border-radius: var(--border-radius-s);
}

.termin-cta-wrap .termin-cta-link {
  display: flex;
  align-items: center;
}

.termin-cta-wrap .termin-cta-link a {
  margin-left: 0.3125rem;
}

@media (max-width: 768px) {
  .termin-list-start .post-listing-item {
    flex-direction: column;
  }

  .termin-list-start .post-listing-item-image {
    width: 100%;
  }

  .termin-list-start .post-listing-item-text {
    padding: 0;
    margin-top: 1.25rem;
  }

  .termin-list-start .post-listing-item-image img {
    max-height: 150px;
  }

  .termin-list-start .termin-info {
    margin-bottom: 0.3125rem;
  }
}

@media (max-width: 660px) {
  .termin-bottom-wrap,
  .termin-info-wrap,
  .termin-time-wrap {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .termin-info {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .termin-list-start .post-listing-item-text {
    padding: 0;
    margin-top: 1rem;
  }

  .termin-list-start .post-listing-item-image {
    width: 100%;
  }

  .termin-list-start .post-listing-item-image img {
    max-height: 150px;
  }
}
