* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  text-rendering: geometricPrecision;
}

body {
  font-size: var(--body-text-size);
  line-height: 1.5;
  font-family: var(--font-family-text);
  background-color: var(--background-04);
  margin: 0;
  overflow-x: hidden;
}

@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
  animation-duration: 0.4s;
}

/* Create a custom animation */
@keyframes move-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

@keyframes move-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the custom animation to the old and new page states */
::view-transition-old(root) {
  animation: 1s ease both move-out;
}

::view-transition-new(root) {
  animation: 1s ease both move-in;
}
