* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--body-text-size);
  line-height: 1.5;
  font-family: var(--font-family-text);
  background-color: var(--background-04);
  margin: 0;
  overflow-x: hidden;
}

.st0 {
  opacity: 0.2;
}

.st0,
.st1,
.st2,
.st3,
.st4,
.st5,
.st6,
.st7,
.st8,
.st9,
.st10,
.st11,
.st12,
.st13,
.st14,
.st15,
.st16,
.st17,
.st18,
.st19,
.st20,
.st21,
.st22,
.st23,
.st24,
.st25,
.st26,
.st27,
.st28,
.st29,
.st30,
.st31,
.st32,
.st33,
.st34,
.st35,
.st36,
.st37,
.st38 {
  fill: var(--accent-01);
}

.st1 {
  opacity: 0.2;
}

.st2 {
  opacity: 0.2;
}

.st3 {
  opacity: 0.2;
}

.st4 {
  opacity: 0.2;
}

.st5 {
  opacity: 0.3;
}

.st6 {
  opacity: 0.3;
}

.st7 {
  opacity: 0.3;
}

.st8 {
  opacity: 0.3;
}

.st9 {
  opacity: 0.3;
}

.st10 {
  opacity: 0.2;
}

.st11 {
  opacity: 0.3;
}

.st12 {
  opacity: 0.3;
}

.st13 {
  opacity: 0.3;
}

.st14 {
  opacity: 0.3;
}

.st15 {
  opacity: 0.3;
}

.st16 {
  opacity: 0.3;
}

.st17 {
  opacity: 0.3;
}

.st18 {
  opacity: 0.3;
}

.st19 {
  opacity: 0.3;
}

.st20 {
  opacity: 0.2;
}

.st21 {
  opacity: 0.2;
}

.st22 {
  opacity: 0.2;
}

.st23 {
  opacity: 0.2;
}

.st24 {
  opacity: 0.2;
}

.st25 {
  opacity: 0.2;
}

.st26 {
  opacity: 0.2;
}

.st27 {
  opacity: 0.2;
}

.st28 {
  opacity: 0.2;
}

.st29 {
  opacity: 0.4;
}

.st30 {
  opacity: 0.4;
}

.st31 {
  opacity: 0.3;
}

.st32 {
  opacity: 0.3;
}

.st33 {
  opacity: 0.3;
}

.st34 {
  opacity: 0.3;
}

.st35 {
  opacity: 0.4;
}

.st36 {
  opacity: 0.4;
}

.st37 {
  opacity: 0.4;
}

.st38 {
  opacity: 0.4;
}

.st39 {
  opacity: 0.4;
}

.st39,
.st40,
.st41,
.st42,
.st43,
.st44,
.st45,
.st46,
.st47,
.st48,
.st49,
.st50,
.st51,
.st52,
.st53,
.st54,
.st55,
.st56,
.st57,
.st58,
.st59 {
  fill: var(--accent-02);
}

.st40 {
  opacity: 0.4;
}

.st41 {
  opacity: 0.4;
}

.st42 {
  opacity: 0.4;
}

.st43 {
  opacity: 0.4;
}

.st44 {
  opacity: 0.3;
}

.st45 {
  opacity: 0.3;
}

.st46 {
  opacity: 0.3;
}

.st47 {
  opacity: 0.2;
}

.st48 {
  opacity: 0.2;
}

.st49 {
  opacity: 0.2;
}

.st50 {
  opacity: 0.3;
}

.st51 {
  opacity: 0.3;
}

.st52 {
  opacity: 0.3;
}

.st53 {
  opacity: 0.3;
}

.st54 {
  opacity: 0.3;
}

.st55 {
  opacity: 0.2;
}

.st56 {
  opacity: 0.2;
}

.st57 {
  opacity: 0.2;
}

.st58 {
  opacity: 0.2;
}

.st59 {
  opacity: 0.2;
}

.st60 {
  opacity: 0.4;
}

.st60,
.st61,
.st62,
.st63,
.st64,
.st65,
.st66,
.st67,
.st68,
.st69,
.st70,
.st71,
.st72,
.st73,
.st74,
.st75,
.st76,
.st77,
.st78,
.st79,
.st80,
.st81,
.st82,
.st83,
.st84,
.st85,
.st86,
.st87,
.st88,
.st89,
.st90,
.st91,
.st92,
.st93,
.st94,
.st95,
.st96,
.st97,
.st98,
.st99,
.st100,
.st101,
.st102,
.st103,
.st104,
.st105,
.st106,
.st107,
.st108,
.st109,
.st110 {
  fill: var(--accent-05);
}

.st61 {
  opacity: 0.4;
}

.st62 {
  opacity: 0.4;
}

.st63 {
  opacity: 0.4;
}

.st64 {
  opacity: 0.4;
}

.st65 {
  opacity: 0.4;
}

.st66 {
  opacity: 0.4;
}

.st67 {
  opacity: 0.4;
}

.st68 {
  opacity: 0.4;
}

.st69 {
  opacity: 0.4;
}

.st70 {
  opacity: 0.4;
}

.st71 {
  opacity: 0.4;
}

.st72 {
  opacity: 0.4;
}

.st73 {
  opacity: 0.4;
}

.st74 {
  opacity: 0.2;
}

.st75 {
  opacity: 0.2;
}

.st76 {
  opacity: 0.2;
}

.st77 {
  opacity: 0.2;
}

.st78 {
  opacity: 0.3;
}

.st79 {
  opacity: 0.3;
}

.st80 {
  opacity: 0.2;
}

.st81 {
  opacity: 0.2;
}

.st82 {
  opacity: 0.2;
}

.st83 {
  opacity: 0.3;
}

.st84 {
  opacity: 0.3;
}

.st85 {
  opacity: 0.3;
}

.st86 {
  opacity: 0.3;
}

.st87 {
  opacity: 0.3;
}

.st88 {
  opacity: 0.3;
}

.st89 {
  opacity: 0.3;
}

.st90 {
  opacity: 0.3;
}

.st91 {
  opacity: 0.3;
}

.st92 {
  opacity: 0.3;
}

.st93 {
  opacity: 0.3;
}

.st94 {
  opacity: 0.3;
}

.st95 {
  opacity: 0.3;
}

.st96 {
  opacity: 0.3;
}

.st97 {
  opacity: 0.3;
}

.st98 {
  opacity: 0.2;
}

.st99 {
  opacity: 0.3;
}

.st100 {
  opacity: 0.3;
}

.st101 {
  opacity: 0.3;
}

.st102 {
  opacity: 0.3;
}

.st103 {
  opacity: 0.3;
}

.st104 {
  opacity: 0.3;
}

.st105 {
  opacity: 0.3;
}

.st106 {
  opacity: 0.3;
}

.st107 {
  opacity: 0.3;
}

.st108 {
  opacity: 0.3;
}

.st109 {
  opacity: 0.3;
}

.st110 {
  opacity: 0.3;
}

.st111 {
  fill: var(--accent-02);
}

.st112 {
  opacity: 0.4;
}

.st112,
.st113,
.st114,
.st115,
.st116,
.st117,
.st118,
.st119,
.st120,
.st121,
.st122,
.st123,
.st124,
.st125,
.st126,
.st127,
.st128,
.st129,
.st130,
.st131 {
  fill: var(--accent-01);
}

.st113 {
  opacity: 0.4;
}

.st114 {
  opacity: 0.4;
}

.st115 {
  opacity: 0.3;
}

.st116 {
  opacity: 0.4;
}

.st117 {
  opacity: 0.4;
}

.st118 {
  opacity: 0.4;
}

.st119 {
  opacity: 0.2;
}

.st120 {
  opacity: 0.2;
}

.st121 {
  opacity: 0.2;
}

.st122 {
  opacity: 0.2;
}

.st123 {
  opacity: 0.2;
}

.st124 {
  opacity: 0.3;
}

.st125 {
  opacity: 0.3;
}

.st126 {
  opacity: 0.3;
}

.st127 {
  opacity: 0.2;
}

.st128 {
  opacity: 0.2;
}

.st129 {
  opacity: 0.3;
}

.st130 {
  opacity: 0.2;
}

.st131 {
  opacity: 0.3;
}

.st132 {
  opacity: 0.4;
}

.st132,
.st133,
.st134,
.st135,
.st136,
.st137,
.st138,
.st139,
.st140,
.st141,
.st142,
.st143,
.st144,
.st145,
.st146,
.st147,
.st148,
.st149,
.st150,
.st151,
.st152,
.st153,
.st154,
.st155,
.st156,
.st157,
.st158,
.st159,
.st160,
.st161,
.st162,
.st163,
.st164,
.st165,
.st166,
.st167,
.st168,
.st169,
.st170,
.st171 {
  fill: var(--accent-05);
}

.st133 {
  opacity: 0.4;
}

.st134 {
  opacity: 0.4;
}

.st135 {
  opacity: 0.4;
}

.st136 {
  opacity: 0.4;
}

.st137 {
  opacity: 0.4;
}

.st138 {
  opacity: 0.4;
}

.st139 {
  opacity: 0.4;
}

.st140 {
  opacity: 0.4;
}

.st141 {
  opacity: 0.4;
}

.st142 {
  opacity: 0.2;
}

.st143 {
  opacity: 0.2;
}

.st144 {
  opacity: 0.2;
}

.st145 {
  opacity: 0.2;
}

.st146 {
  opacity: 0.2;
}

.st147 {
  opacity: 0.3;
}

.st148 {
  opacity: 0.3;
}

.st149 {
  opacity: 0.3;
}

.st150 {
  opacity: 0.2;
}

.st151 {
  opacity: 0.3;
}

.st152 {
  opacity: 0.3;
}

.st153 {
  opacity: 0.3;
}

.st154 {
  opacity: 0.3;
}

.st155 {
  opacity: 0.3;
}

.st156 {
  opacity: 0.3;
}

.st157 {
  opacity: 0.3;
}

.st158 {
  opacity: 0.3;
}

.st159 {
  opacity: 0.3;
}

.st160 {
  opacity: 0.3;
}

.st161 {
  opacity: 0.3;
}

.st162 {
  opacity: 0.3;
}

.st163 {
  opacity: 0.2;
}

.st164 {
  opacity: 0.3;
}

.st165 {
  opacity: 0.3;
}

.st166 {
  opacity: 0.2;
}

.st167 {
  opacity: 0.2;
}

.st168 {
  opacity: 0.2;
}

.st169 {
  opacity: 0.3;
}

.st170 {
  opacity: 0.3;
}

.st171 {
  opacity: 0.3;
}

.st172 {
  opacity: 0.4;
}

.st172,
.st173,
.st174,
.st175,
.st176,
.st177,
.st178,
.st179,
.st180,
.st181 {
  fill: var(--accent-02);
}

.st173 {
  opacity: 0.3;
}

.st174 {
  opacity: 0.3;
}

.st175 {
  opacity: 0.2;
}

.st176 {
  opacity: 0.3;
}

.st177 {
  opacity: 0.3;
}

.st178 {
  opacity: 0.3;
}

.st179 {
  opacity: 0.3;
}

.st180 {
  opacity: 0.3;
}

.st181 {
  opacity: 0.3;
}

.st182 {
  clip-path: url(#clippath);
}

.st183 {
  opacity: 0.2;
}

.st183,
.st184,
.st185,
.st186,
.st187,
.st188,
.st189,
.st190,
.st191,
.st192,
.st193,
.st194,
.st195,
.st196,
.st197,
.st198,
.st199,
.st200,
.st201,
.st202,
.st203,
.st204,
.st205,
.st206,
.st207,
.st208,
.st209,
.st210,
.st211,
.st212,
.st213,
.st214,
.st215,
.st216,
.st217,
.st218,
.st219 {
  fill: var(--accent-04);
}

.st184 {
  opacity: 0.2;
}

.st185 {
  opacity: 0.2;
}

.st186 {
  opacity: 0.2;
}

.st187 {
  opacity: 0.2;
}

.st188 {
  opacity: 0.3;
}

.st189 {
  opacity: 0.3;
}

.st190 {
  opacity: 0.3;
}

.st191 {
  opacity: 0.3;
}

.st192 {
  opacity: 0.3;
}

.st193 {
  opacity: 0.3;
}

.st194 {
  opacity: 0.3;
}

.st195 {
  opacity: 0.2;
}

.st196 {
  opacity: 0.2;
}

.st197 {
  opacity: 0.2;
}

.st198 {
  opacity: 0.2;
}

.st199 {
  opacity: 0.2;
}

.st200 {
  opacity: 0.2;
}

.st201 {
  opacity: 0.2;
}

.st202 {
  opacity: 0.2;
}

.st203 {
  opacity: 0.3;
}

.st204 {
  opacity: 0.3;
}

.st205 {
  opacity: 0.3;
}

.st206 {
  opacity: 0.3;
}

.st207 {
  opacity: 0.3;
}

.st208 {
  opacity: 0.3;
}

.st209 {
  opacity: 0.2;
}

.st210 {
  opacity: 0.2;
}

.st211 {
  opacity: 0.2;
}

.st212 {
  opacity: 0.3;
}

.st213 {
  opacity: 0.3;
}

.st214 {
  opacity: 0.4;
}

.st215 {
  opacity: 0.4;
}

.st216 {
  opacity: 0.4;
}

.st217 {
  opacity: 0.4;
}

.st218 {
  opacity: 0.4;
}

.st219 {
  opacity: 0.4;
}
