
:root {
    /* PRIMARY COLORS */
    --color-foreground-values: 0, 0%, 5%;
    --color-foreground: hsl(var(--color-foreground-values));
    --color-background-values: 0, 0%, 70%;
    --color-background: hsl(var(--color-background-values));
    --color-accent-values: 126, 63%, 20%;
    --color-accent: hsl(var(--color-accent-values));

    /* COLOR SHADES */
    --foreground-01-values: 0, 0%, 5%;
    --foreground-02-values: 0, 0%, 5%;
    --foreground-03-values: 0, 0%, 12%;
    --foreground-04-values: 0, 0%, 24%;
    --foreground-05-values: 0, 0%, 36%;
    --foreground-01: hsl(var(--foreground-01-values));
    --foreground-02: hsl(var(--foreground-02-values));
    --foreground-03: hsl(var(--foreground-03-values));
    --foreground-04: hsl(var(--foreground-04-values));
    --foreground-05: hsl(var(--foreground-05-values));

    --background-01-values: 0, 0%, 76%;
    --background-02-values: 0, 0%, 82%;
    --background-03-values: 0, 0%, 88%;
    --background-04-values: 0, 0%, 94%;
    --background-05-values: 0, 0%, 98%;
    --background-01: hsl(var(--background-01-values));
    --background-02: hsl(var(--background-02-values));
    --background-03: hsl(var(--background-03-values));
    --background-04: hsl(var(--background-04-values));
    --background-05: hsl(var(--background-05-values));

    --accent-01-values: 126, 63%, 32%;
    --accent-02-values: 126, 63%, 44%;
    --accent-03-values: 126, 63%, 56%;
    --accent-04-values: 126, 63%, 68%;
    --accent-05-values: 126, 63%, 80%;
    --accent-01: hsl(var(--accent-01-values));
    --accent-02: hsl(var(--accent-02-values));
    --accent-03: hsl(var(--accent-03-values));
    --accent-04: hsl(var(--accent-04-values));
    --accent-05: hsl(var(--accent-05-values));

    --accent-contrast-values: 0deg, 0%, 100%; 
    --accent-contrast: hsl(var(--accent-contrast-values));
    
    /* FONT SIZES */
    --body-text-size: 18px;
    --headline-xs: clamp(var(--body-text-size), 3vw, calc(var(--body-text-size) * 1.2));
    --headline-s: clamp(calc(var(--body-text-size) * 1.2), 3.5vw, calc(var(--body-text-size) * 1.4));
    --headline-m: clamp(calc(var(--body-text-size) * 1.6), 4vw, calc(var(--body-text-size) * 2));
    --headline-l: clamp(calc(var(--body-text-size) * 2), 5vw, calc(var(--body-text-size) * 2.6));
    --headline-xl: clamp(calc(var(--body-text-size) * 2.2), 6vw, calc(var(--body-text-size) * 3.16666));
    --headline-xxl: clamp(calc(var(--body-text-size) * 2.6), 8vw, calc(var(--body-text-size) * 3.2));

    /* GRID WIDTH */
    --inner-content-width: 1400px;
    --inner-header-width: 1400px;
    --inner-footer-width: 1400px;

    /* Border RADIUS */
    --border-radius-s: 4px;
    --border-radius-m: 6px;
    --border-radius-l: 10px;
}