.accessibility-select-wrapper {
  display: inline-flex;
  gap: 1rem;
  margin-left: auto;
  margin-right: 2rem;
}

.accessibility-button .sr-only,
.accessibility-select-wrapper .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.accessibility-select-wrapper .acc-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0.25rem;
}
.accessibility-select-wrapper .acc-button > img {
  width: calc(var(--body-text-size) * 1.5);
  height: calc(var(--body-text-size) * 1.5);
  transition: ease transform 0.3s;
}
.accessibility-select-wrapper .acc-button:hover > img {
  transform: scale(1.1);
}

/*PopUp for Accessibility*/

.accessibility-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: var(--border-radius-m);
  background: black;
  color: white;
  border: 2px solid white;
  padding: 1rem;
  transition: ease all 400ms;
  cursor: pointer;
  z-index: 9991;
}
.accessibility-button > img {
  width: calc(var(--body-text-size) * 2);
  height: calc(var(--body-text-size) * 2);
  transition: ease all 400ms;
}
.accessibility-button:hover,
.accessibility-button:focus {
  background: white;
  border-color: black;
}
.accessibility-button:hover > img,
.accessibility-button:focus > img {
  filter: invert(1);
}

.accessibility-tools-dialog {
  background: black;
  border: 2px solid white;
  padding: 1.5rem;
  border-radius: var(--border-radius-m);
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 400px;
  width: 100%;
  padding-bottom: 8rem;
  z-index: 999;
  display: none;
}
.accessibility-tools-dialog .accessibility-select-wrapper {
  flex-direction: column;
  margin-right: 0;
  width: 100%;
}
.accessibility-tools-dialog .acc-button {
  display: flex;
  gap: 1rem;
  align-items: center;
  border: 2px solid transparent;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-s);
  text-align: left;
  color: white;
}
.accessibility-tools-dialog .acc-button.active,
.accessibility-tools-dialog .acc-button:hover,
.accessibility-tools-dialog .acc-button:focus {
  border-color: white;
}
.accessibility-tools-dialog .acc-button .sr-only {
  all: unset;
  color: white;
  text-align: left;
  font-size: var(--body-text-size);
}

.close-acc-dialog {
  background: transparent;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  cursor: pointer;
}

.contrast-bw {
  --foreground: 0, 0%, 0%;
  --background: 0, 0%, 100%;
  --borders: 0, 0%, 50%;
  --accent: 0, 0%, 0%;

  --foreground-01-values: var(--foreground);
  --foreground-02-values: var(--foreground);
  --foreground-03-values: var(--foreground);
  --foreground-04-values: var(--foreground);
  --foreground-05-values: var(--foreground);

  --background-01-values: var(--background);
  --background-02-values: var(--background);
  --background-03-values: var(--background);
  --background-04-values: var(--background);
  --background-05-values: var(--background);

  --color-accent-values: var(--accent);
  --accent-01-values: var(--accent);
  --accent-02-values: var(--accent);
  --accent-03-values: var(--accent);
  --accent-04-values: var(--accent);
  --accent-05-values: var(--accent);

  --accent-contrast-values: 0deg, 0%, 100%;
}

.contrast-wb {
  --foreground: 0, 0%, 100%;
  --background: 0, 0%, 0%;
  --borders: 0, 0%, 80%;
  --accent: 60deg 100% 50%;

  --color-foreground-values: var(--foreground);
  --foreground-01-values: var(--foreground);
  --foreground-02-values: var(--foreground);
  --foreground-03-values: var(--foreground);
  --foreground-04-values: var(--foreground);
  --foreground-05-values: var(--foreground);

  --color-background-values: var(--background);
  --background-01-values: var(--background);
  --background-02-values: var(--background);
  --background-03-values: var(--background);
  --background-04-values: var(--background);
  --background-05-values: var(--background);

  --color-accent-values: var(--accent);
  --accent-01-values: var(--accent);
  --accent-02-values: var(--accent);
  --accent-03-values: var(--accent);
  --accent-04-values: var(--accent);
  --accent-05-values: var(--accent);

  --accent-contrast-values: 0deg, 0%, 0%;
}

/*Black & White Mode*/
.contrast-bw .right-content-column,
.contrast-bw .left-content-column,
.contrast-bw .accordion-item,
.contrast-bw .post-item,
.contrast-bw .termin-item,
.contrast-bw .sidebar-block,
.contrast-bw .search-field,
/*White & Black Mode*/
.contrast-wb .right-content-column,
.contrast-wb .left-content-column,
.contrast-wb .accordion-item,
.contrast-wb .post-item, 
.contrast-wb .termin-item ,
.contrast-wb .sidebar-block,
.contrast-wb .search-field {
  border: 2px solid hsl(var(--borders)) !important;
}

.top-header-row .accessibility-select-wrapper .acc-button {
  color: var(--accent-contrast);
}
