.termin-listing-simple .termin-item {
  display: flex;
  align-items: center;
  padding: 1.25rem 0;
  border-bottom: 1px solid var(--background-03);
}

.termin-listing-simple .post-listings-item-heading {
  margin-bottom: 0;
  font-size: calc(var(--body-text-size) * 1.125);
  font-weight: var(--font-weight-heading);
  text-decoration: none;
  color: var(--foreground-01);
}

.termin-listing-simple .adresse a {
  font-size: calc(var(--body-text-size) * 0.9375);
  color: var(--foreground-01);
  text-decoration: none;
  opacity: 0.6;
}

.termin-listing-simple .termin-info-wrap {
  flex-direction: row;
  align-items: flex-start;
  gap: 0.5rem;
  font-size: var(--body-text-size);
  color: var(--foreground-03);
  margin-top: 0.5rem;
}

.termin-listing-simple .termin-info-wrap .termin-info {
  margin-right: 0;
}

.termin-listing-simple .termin-link {
  display: inline-block;
  font-size: calc(var(--body-text-size) * 0.9375);
  background-color: var(--background-03);
  color: var(--foreground-01);
  text-decoration: none;
  opacity: 1;
  margin-top: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: var(--border-radius-s);
}

.termin-listing-simple .termin-link:hover {
  background-color: var(--accent-01);
  color: var(--accent-contrast);
}
