#front-page {
  display: block;
  background-color: var(--background-05);
}

#vereine {
  width: 100%;
}

.gallery-img-wrap {
  display: flex;
  width: 100%;
}

.gallery-img-wrap img {
  height: auto;
  object-fit: cover;
}

.gallery-img-wrap img:first-child {
  width: 35%;
  margin-right: 0.5rem;
  border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
}

.gallery-img-wrap img:last-child {
  width: 65%;
  margin-left: 0.5rem;
  border-radius: var(--border-radius-m) 0 0 var(--border-radius-m);
}

/*MEDIA QUERIES*/

@media (max-width: 992px) {
  .gallery-img-wrap {
    flex-direction: column;
  }

  .gallery-img-wrap img:first-child {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.468rem;
  }

  .gallery-img-wrap img:last-child {
    width: 100%;
    margin-left: 0;
    margin-top: 0.468rem;
  }
}
