.wp-block-button__link {
  background-color: var(--accent-01);
  font-family: var(--font-family);
  font-size: var(--body-text-size);
  border: 0;
  transition: ease all 400ms;
  border-radius: var(--border-radius-s);
}

.wp-block-button__link:hover {
  background-color: var(--foreground-01);
}

.wp-block-file__button {
  padding: 0.5rem 1rem;
}
