.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  font-family: var(--font-family-heading);
  line-height: 1.2;
  color: var(--foreground-01);
  margin-bottom: 1.5rem;
}

.header-img-heading h1 {
  color: #ffffff;
  font-size: var(--headline-xl);
  line-height: 1.2;
  max-width: 700px;
  font-weight: 300;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.header-img-heading h1 span {
  font-weight: 900;
}

p {
  font-family: var(--font-family-text);
  color: var(--foreground-02);
}

h1.wp-block-heading {
  font-size: var(--headline-xl);
  line-height: 1.2;
}

h2.wp-block-heading {
  font-size: var(--headline-m);
  line-height: 1.2;
}

h3.wp-block-heading {
  font-size: var(--headline-s);
  line-height: 1.2;
}

h4.wp-block-heading {
  font-size: var(--headline-xs);
  line-height: 1.2;
}

h5.wp-block-heading {
  font-size: var(--headline-xs);
  line-height: 1.2;
}

h6.wp-block-heading {
  font-size: var(--headline-xs);
  line-height: 1.2;
}

.section-heading {
  font-size: var(--headline-m);
  color: var(--foreground-01);
  margin-bottom: 3.5rem !important;
}

.page-start-text p,
.left-content-column p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.page-start-text p:last-child,
.left-content-column p:last-child {
  margin-bottom: 0;
}
