.termin-list-start .post-listing-item {
  display: flex;
  align-items: stretch;
  padding: 1.25rem 1.875rem;
  background: var(--background-04);
  margin-bottom: 1rem;
  position: relative;
  border-radius: var(--border-radius-s);
  padding: 1.25rem;
  margin-bottom: 1rem;
}

.termin-list-start .post-listing-item-image {
  width: 20%;
  margin-left: auto;
  max-height: 120px;
}

.termin-list-start .post-listing-item-image a {
  display: flex;
}

.termin-list-start .post-listing-item-image img {
  width: 100%;
  object-fit: contain;
  object-position: right;
  border-radius: var(--border-radius-s);
  height: 100%;
}

.termin-list-start .post-listings-item-heading {
  margin-bottom: 0;
}

.termin-list-start .post-listings-item-heading a {
  font-size: calc(var(--body-text-size) * 1.375);
  margin-bottom: 0;
  color: var(--foreground-01);
  text-decoration: none;
}

.termin-list-start .post-listing-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.termin-wrapper {
  background: color(9);
  padding: 1.25rem;
  border-radius: var(--border-radius-s);
}

.termin-top-wrap {
  display: flex;
  margin-bottom: 0.5rem;
}

.termin-bottom-wrap {
  display: flex;
}

.termin-infos-wrap .termin-time-wrap {
  display: flex;
  align-items: center;
}

.termin-info-wrap {
  display: flex;
  align-items: center;
  color: var(--foreground-03);
}

.termin-info {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.adresse,
.adresse a {
  font-size: var(--body-text-size);
  color: var(--foreground-05);
  text-decoration: none;
}

.adresse a:hover {
  text-decoration: underline;
}

.termin-icon {
  height: 1.25rem;
  margin-right: 0.5rem;
}

.termin-info-wrap .dashicons {
  color: var(--color-accent);
}

.termin-infos-wrap .op-6 {
  margin-right: 0.3125rem;
}

#inner-content-wrap-termine p:first-child {
  margin-top: 0;
}

/*SINGLE PAGE*/

.termin-single-container .termin-info-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.5rem;
  background: #f5f5f5;
}
.termin-content {
  margin-top: 1.875rem;
}

.termin-cta-wrap {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  padding: 2rem;
  background-color: var(--background-05);
  border-radius: var(--border-radius-s);
}

.termin-cta-wrap .termin-cta-link {
  display: flex;
  align-items: center;
}

.termin-cta-wrap .termin-cta-link a {
  margin-left: 0.3125rem;
}

@media (max-width: 768px) {
  .termin-list-start .post-listing-item {
    flex-direction: column-reverse;
  }

  .termin-list-start .post-listing-item-image {
    width: 100%;
    max-height: initial;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  .termin-list-start .post-listing-item-text {
    padding: 0;
  }

  .termin-list-start .post-listing-item-image img {
    border-radius: var(--border-radius-s);
    max-height: 200px;
    object-position: left;
  }

  .termin-list-start .termin-info {
    margin-bottom: 0.3125rem;
  }
}

@media (max-width: 660px) {
  .termin-bottom-wrap,
  .termin-info-wrap,
  .termin-time-wrap {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .termin-info {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .termin-list-start .post-listing-item-text {
    padding: 0;
  }

  .termin-list-start .post-listing-item-image {
    width: 100%;
  }

  .termin-list-start .post-listing-item-image img {
    max-height: 150px;
  }
}

/* HEADER */

.header-img-wrap-termin {
  overflow: hidden;
  position: relative;
}

.termin-header-image {
  filter: blur(30px) saturate(0.8);
  transform: scale(1.05);
}

.header-img-wrap-termin .overlay-image {
  position: absolute;
  top: 50%;
  right: 2rem;
  max-width: 40%;
  height: calc(100% - 5rem);
  transform: translate(0, -50%);
}

.header-img-wrap-termin .overlay-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .header-img-wrap-termin .overlay-image {
    max-width: 100%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  .header-img-wrap-termin .overlay-image img {
    object-position: center center;
  }
}
